<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header class="titulo" >Formulario de edicion</header>
    <form method="POST" action="/update/{{employee.id}}">
        {% csrf_token %}
        <div>
            <br>
            <p>
                <h3 class="texto">Actualizar detalles</h3>
            </p>
        </div>
        <div>
            <p>Id del producto:</p>
            <div>
                <input type="text" name="eid" value="{{employee.eid}}" />
            </div>
        </div>
        <div>
            <p>Nombre del producto:</p>
            <div>
                <input type="text" name="ename" value="{{employee.ename}}" />
            </div>
        </div>
        <div>
            <p>Precio del producto :</p>
            <div>
                <input type="text" name="eemail" value="{{employee.eemail}}" />
            </div>
        </div>
        <div>
            <p>Cantidad del producto:</p>
            <div>
                <input type="text" name="econtact" value="{{employee.econtact}}" />
            </div>
        </div>
        <div>
            <p>Numero de pedidos :</p>
            <div>
                <input type="text" name="epedido" value="{{employee.epedido}}" />
            </div>

        <div>
        <div>
                <p>Distribuidor :</p>
                <div>
                    <input type="text" name="edistribuidor" value="{{employee.distribuidor}}" />
                </div>
                
            <div>
            <br>
            <button type="submit">Actualizar</button>
        </div>
       
    </form>
</body>

</html>